<section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading">Послуги</h2>
                    <h3 class="text-muted section-subheading">Перелік послуг, які ми надаємо своім бізнес клієнтам</h3>
                </div>
            </div>
            <div class="row text-center">

                <div class="col-md-4"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-lock fa-stack-1x fa-inverse"></i></span>
                    <h4 class="section-heading">{{ categories.name }}</h4>
                    <p class="text-muted">Повний супровід у швейній бізнес з нуля, починаючи від навчання швачок, побудови лекал, закупівлі матеріалів, закінчуючи розробкою сайту на декількох мовах і виходом на міжнародний ринок</p>
                </div>
                <div class="col-md-4"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i></span>
                    <h4 class="section-heading">Допомога у відкритті онлайн/оффлайн магазину</h4>
                    <p class="text-muted">Допомога або повний супровід у відкритті онлайн та офлайн точок продажу. Косультація з відкриттям ФОП, оподаткування, навчання продавців, менеджерів</p>
                </div>
                <div class="col-md-4"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-laptop fa-stack-1x fa-inverse"></i></span>
                    <h4 class="section-heading">Допомга в створенні і просуванні вашого продукту</h4>
                    <p class="text-muted">Розробляємо та створюємо сайти, сторінки в соцмережах,розробка індивідульного дизайну, логотипу, шрифтів, запускаємо та супроводжуємо контекстну рекламу, займаємося Email, Viber та SMS розсилками, посилюємо зручність користувача та конверсію сайті</p>
                </div>


            </div>
        </div>
    </section>